    
    


    h1 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    h2 {
    color: rgb(2, 48, 2);
    font-size: 2em;
  }

  body {
    background-color: #dda15e;
    font-size: 20px;
  }

  .tituloHabilidades {
      color: orangered;
  }

  #paragrafoapresentacao {
 /*    background-color: aqua; */
  }
  #nomecompleto {
    color: rgb(2, 48, 2);
  }

  .list-style {
    color: rgb(2, 48, 2);
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
    text-align::after;
    text-decoration: none;
    
    
  }
  
  p{
    font-family: monospace;
  }